.opcije {
  position: relative;
  text-align: center;
  height: 96%;
  min-height: 850px;
  border: 2px solid #737373;
  border-radius: 15px; 
  background-color: rgba(0, 0, 0, 0.85);
}

#aplikacija {
  font-size: 2em;
}

.navigacija {
  margin: auto;
  width:fit-content;
} 

.nav-item {
  z-index: 2;
}

.dropdown-toggle {
  padding: 0;
}

.metode-sortiranja {
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.1s;
}

input[type="range"] {
  width: 100%;
}

input[type="text"] {
  text-align: center;
  width: 98%;
  border: none;
  background-color: whitesmoke;
  transition: 0.1s;
}

input[type="text"]:focus {
  color: whitesmoke;
  font-size: 3em;
  position: fixed;
  z-index: 3;
  left: 1%; 
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  outline: none;
  box-shadow: 0 0 10px #0075FF;
  border-radius: 10px;
  background-color: black;
}

.generisanje {
  border: 2px solid #737373;
  border-radius: 5px;
}

.generisanje:hover {
  border-color: white;
}

#generisiRandomNiz,
#generisiNiz {
  color: #9b9d9f;
}

#generisiRandomNiz:hover,
#generisiNiz:hover {
  color: white;

}

#resetBtn,
#sortBtn {
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 95%;
  border-width: 2px; 
}
