.opcije {
  position: relative;
  min-height: 850px;
  border: 2px solid #737373;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
}

#aplikacija {
  font-size: 2em;
}

.navigacija {
  margin: auto;
  width: fit-content;
}

.metode-sortiranja {
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.1s;
}

input[type="range"] {
  width: 100%;
}

input[type="file"] {
  display: none;
}

label[for="fileInput"] {
  width: 100%;
  cursor: pointer;
  padding: 5px;
  background-color: #0075ff;
}

input[type="text"] {
  text-align: center;
  width: 98%;
  border: none;
  background-color: whitesmoke;
  transition: 0.1s;
}

input[type="text"]:focus {
  color: whitesmoke;
  font-size: 3em;
  position: fixed;
  z-index: 3;
  left: 1%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  outline: none;
  box-shadow: 0 0 10px #0075ff;
  border-radius: 10px;
  background-color: black;
}

.generisanje {
  border: 2px solid #737373;
  border-radius: 5px;
}

.generisanje:hover {
  border-color: white;
}

#generisiRandomNiz,
#generisiNiz {
  color: #9b9d9f;
}

#generisiRandomNiz:hover,
#generisiNiz:hover {
  color: white;
}


#sortBtn {
  font-size: 1.5em;
  font-weight: bold;
  width: 95%;
  border-width: 2px;
}

/* #resetBtn {
  position: absolute;
  bottom: 8px;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
} */

#sortBtn {
  position: absolute;
  bottom: 8px;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
