.stablo-kontejner {
  text-align: left;
}

.list-kontejner {
  color: black;
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
  display: inline-block;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 5px;
}
